<h2>Login</h2>
<hr>
<form>
  <div class="form-group">
    <label for="username">User name</label>
    {{input value=model.username type='text' class="form-control" id="login-username" placeholder="username"}}
  </div>
  <button {{action "login" this}} class="btn btn-default">Login</button>
</form>
<hr>

