<div>
    <h1>Posts</h1>
</div>

{{#each post in model}}
    <div>
        <h4>
          {{#link-to 'posts.post' post}}
            {{post.title}} {{/link-to}}
            <p></p>
        </h4>
        <hr>
    </div>
{{/each}}

<div>{{#link-to 'posts.new' class='btn btn-primary btn-lg active' role='button'}}New Post{{/link-to}}</div>

{{outlet}}
