{{partial 'p-header'}}
<div class="container">

  <div class="row">
    <h1>Ember.js tutorial blog</h1>
    <p>The official Cadec 2015 blog</p>
    <hr>
  </div>

  {{outlet}}

</div><!-- /.container -->
