<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-6">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'posts' class='navbar-brand'}}Callista Cadec 2015 - Bloggs App{{/link-to}}
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>{{#link-to 'posts'}}<i class="fa fa-envelope"></i> Posts{{/link-to}}</li>
        <li>{{#link-to 'users'}}<i class="fa fa-users"></i> Users{{/link-to}}</li>
      </ul>

	    <ul class="nav navbar-nav navbar-right">

	      	{{#if isLoggedIn}}
	        	<p class="navbar-text"> Signed in as {{username}} </p>
				<li>{{#link-to 'logoff'}}<i class="fa fa-power-off"></i> Log off{{/link-to}}</li>
	      	  {{else}}
	        	<p class="navbar-text">{{#link-to 'login.login'}}{{username}}{{/link-to}}</p>

			  {{/if}}


	    </ul>

    </div>
    <!-- /.navbar-collapse -->

  </div>
</nav>

