<div class="container">
    <div class="well well-md page-header">
        <form role="form">
          <div class="row">
            <div class="col-md-6 col-md-push-3">
                <div class="row">
                    <div class="form-group">
                        <label class="control-label" for="title">Title</label>
                      {{input class="form-control" type="text" id="title" placeholder="Post title" value=title }}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label class="control-label" for="body">Body</label>
                        {{textarea class="form-control" id="body" cols="50" rows="15"
                                  placeholder="Write your amazing post here!" value=body}}
                    </div>
                </div>

            </div>

          </div>
            <div class="row">
                <div class="col-md-1 col-md-push-8">
                    <div class="row">
                        <div class="btn-group">
                            <button class="btn btn-success" type="submit" {{action "createPost"}}>Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
