<form>
  <div class="form-group">
    <label for="title">Title</label>
    {{input type='text' value=title class="form-control" id="title"}}
  </div>
  <div class="form-group">
    <label for="body">Body</label>
    {{textarea value=body cols="50" rows="6" class="form-control" id="body"}}
  </div>

  <button {{action "done" this}} class="btn btn-default">Done</button>
</form>
