<div>
  <h1>Posts</h1>
  <hr>
</div>

<div class="row">

  <div class="col-md-3">
    {{#each post in model}}
      <div>
        <h4>
          {{#link-to 'posts.post.comments' post}}
            {{post.title}} {{/link-to}}
          <p></p>
        </h4>
        <hr>
      </div>
    {{/each}}
  </div>

  <div class="col-sm-8 col-sm-offset-1">

      {{outlet}}

  </div>


</div>
