<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="ce-logotype" href="/">
                <img alt="Callista Enterprise" src="/assets/images/callista_small.svg">
            </a>
            {{#link-to 'blog' class='blog-nav-item'}}Blog posts{{/link-to}}
            <a class="blog-nav-item" href="#">New blog post</a>
        </nav>
    </div>
</div>

{{outlet}}
