<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="ce-logotype" href="/">
                <img alt="Callista Enterprise" src="/assets/images/callista_small.svg">
            </a>
            {{#link-to 'posts' class='blog-nav-item'}}Blog posts{{/link-to}}
            {{#link-to 'posts.new' class='blog-nav-item'}}New blog post{{/link-to}}
        </nav>
    </div>
</div>

{{outlet}}
