<h2>Posts</h2>
<hr>
<div class="row">

  <div class="col-md-3">

    {{link-to 'New' 'posts.new' class="btn btn-default"}}
    {{#each post in model}}
      <div>
        <h4>{{#link-to 'posts.post.comments' post}}
          {{post.title}} {{/link-to}} <p></p>
          <small><em> by {{post.user.username}} </em></small>
        </h4>
        <hr>
      </div>
    {{/each}}

  </div>
  <!-- /.blog-main -->

  <div class="col-sm-8 col-sm-offset-1">
    <div class="">
      {{outlet}}
    </div>
  </div>
  <!-- /.blog-sidebar -->

</div><!-- /.row -->


